.msg-erro{
  color: #fc6363;
  font-size: 12px;
  clear: both;
  position: relative;
  margin-bottom: 7px;
}

.label {
  font-size: 20px;
  margin-bottom: 5px;
}

.input {
  font-size: 18px;
  margin: 5px 0;
  color:#91bafb;
}

.ico {
  margin-top: 10px;
  margin-right: 8px;
}

.mg-b {
  margin-bottom: 15px;
}
